Source: nvidia-kernel-legacy-173xx
Section: non-free/kernel
Priority: optional
Maintainer: Randall Donald <rdonald@debian.org>
Build-Depends: debhelper (>> 3.0.0), make, libc6-dev
Standards-Version: 3.6.0

Package: nvidia-kernel-legacy-173xx-#KVERS#
Architecture: i386 amd64
Provides: nvidia-kernel-legacy-173xx-#VERSION#
Depends: nvidia-kernel-common (>= 20051028+1-0.1)
Conflicts: nvidia-kernel-#VERSION#
Recommends: linux-image-#KVERS#
Description: NVIDIA binary kernel module for Linux #KVERS#
 These Xorg binary drivers provide optimized hardware acceleration of 
 OpenGL applications via a direct-rendering X Server. 
 .
 This package contains the NVIDIA binary kernel module needed by
 nvidia-glx-legacy-173xx.
 .
 For more information on this source package visit NVIDIA's homepage
 at http://www.nvidia.com/ .
