Source: nvidia-graphics-drivers-legacy-173xx
Section: non-free/x11
Priority: optional
Maintainer: Debian NVIDIA Maintainers <pkg-nvidia-devel@lists.alioth.debian.org>
Uploaders:
 Russ Allbery <rra@debian.org>,
Vcs-Svn: svn://svn.debian.org/svn/pkg-nvidia/packages/nvidia-graphics-drivers-legacy-173xx/trunk
Vcs-Browser: http://svn.debian.org/wsvn/pkg-nvidia/packages/nvidia-graphics-drivers-legacy-173xx/
Build-Depends: debhelper (>= 7.4.16~), bzip2, dkms (>= 2.1.1.1), libxext6,
 quilt, ia32-libs (>= 20090804) [amd64], lib32gcc1 [amd64], lib32z1 [amd64],
 libc6-dev-i386 [amd64]
Standards-Version: 3.9.0
Homepage: http://www.nvidia.com

Package: nvidia-glx-legacy-173xx
Architecture: i386 amd64
Pre-Depends: dpkg (>= 1.15.7.2)
Depends:
 libgl1-nvidia${nvidia:Legacy}-glx (= ${binary:Version}),
 nvidia-kernel${nvidia:Legacy}-${nvidia:Version},
 ${shlibs:Depends}, ${misc:Depends}
Recommends: nvidia-vdpau-driver (>= ${nvidia:Version})
Suggests: nvidia-settings,
 nvidia-kernel${nvidia:Legacy}-dkms (>= ${nvidia:Version})
 | nvidia-kernel${nvidia:Legacy}-source (>= ${nvidia:Version})
Breaks: xserver-xorg-core (<< 2:1.6)
Provides:
 xserver-xorg-video-6,
 nvidia-glx,
Conflicts:
 nvidia-glx,
 nvidia-glx-legacy,
 nvidia-glx-legacy-71xx,
 nvidia-glx-legacy-96xx,
 fglrx-driver,
Description: NVIDIA binary Xorg driver${nvidia:LegacyDesc}
 These binary drivers provide optimized hardware acceleration of
 OpenGL applications via a direct-rendering X Server.
 AGP, PCIe, SLI, TV-out and flat panel displays are also supported.
 .
 Please see the nvidia-kernel${nvidia:Legacy}-dkms or
 nvidia-kernel${nvidia:Legacy}-source packages
 for building the kernel module required by this package.
 This will provide nvidia-kernel${nvidia:Legacy}-${nvidia:Version}.
 .
 This legacy version supports the following GPUs:
 GeForce 6800 Ultra, GeForce 6800, GeForce 6800 XE, GeForce 6800 XT,
 GeForce 6800 GT, GeForce 6800 GS, Quadro FX 4000, GeForce 7800 GTX,
 GeForce 7800 GT, GeForce 7800 GS, GeForce Go 7800, GeForce Go 7800 GTX,
 Quadro FX 4500, GeForce 6800, GeForce 6800 LE, GeForce Go 6800, 
 GeForce Go 6800 Ultra, Quadro FX Go1400, Quadro FX 3450/4000 SDI,
 Quadro FX 1400, GeForce 6600 GT, GeForce 6600, GeForce 6200,
 GeForce 6600 LE, Quadro FX 3400/4400, GeForce PCX 5750, GeForce PCX 5900,
 GeForce PCX 5300/Quadro FX 330, Quadro NVS 280 PCI-E/Quadro FX 330,
 Quadro FX 1300, GeForce PCX 4300, GeForce 6600 VE, GeForce Go 6600,
 GeForce 6610 XL, GeForce Go 6600 TE/6200 TE, GeForce 6700 XL, 
 GeForce Go 6600 GT, Quadro NVS 440, Quadro FX 550, Quadro FX 540,
 GeForce 6500, GeForce 6200 TurboCache(TM), GeForce 6200 LE, GeForce Go 6200,
 Quadro NVS 285, GeForce Go 6400, GeForce 8800 GTX, GeForce 8800 GTS,
 Quadro FX 5600, Quadro FX 4600, GeForce 7300 LE, GeForce 7300 SE,
 Quadro NVS 110M/GeForce Go 7300, GeForce Go 7400, Quadro NVS 110M,
 Quadro NVS 120M, Quadro FX 350M, Quadro FX 350, GeForce 7300 GS,
 GeForce 6150, GeForce 6150 LE, GeForce 6100, GeForce Go 6100, 
 GeForce 7900 GTX, GeForce 7900 GT/GTO, GeForce 7900 GS, GeForce 7950 GX2,
 GeForce Go 7900 GS, GeForce Go 7900 GTX, Quadro FX 2500M, Quadro FX 1500M,
 Quadro FX 5500, Quadro FX 3500, Quadro FX 1500, Quadro FX 4500 X2, 
 GeForce 7600 GS, GeForce FX 5800 Ultra, GeForce FX 5800, Quadro FX 2000,
 Quadro FX 1000, GeForce FX 5600 Ultra, GeForce FX 5600, GeForce FX 5600XT,
 GeForce FX Go5600, GeForce FX Go5650, Quadro FX Go700, GeForce FX 5200,
 GeForce FX 5200 Ultra, GeForce FX 5200, GeForce FX 5200LE, GeForce FX Go5200,
 GeForce FX Go5250, GeForce FX 5500, GeForce FX 5100,
 GeForce FX Go5200 32M/64M, Quadro NVS 55/280 PCI, Quadro FX 500/FX 600,
 GeForce FX Go53xx, GeForce FX Go5100, GeForce FX 5900 Ultra, GeForce FX 5900,
 GeForce FX 5900XT, GeForce FX 5950 Ultra, GeForce FX 5900ZT, Quadro FX 3000,
 Quadro FX 700, GeForce FX 5700 Ultra, GeForce FX 5700, GeForce FX 5700LE,
 GeForce FX 5700VE, GeForce FX Go5700, Quadro FX Go1000, Quadro FX 1100,
 GeForce 7600 GT, GeForce 7600 GS, GeForce 7300 GT, GeForce Go 7600,
 Quadro FX 560, GeForce 7050 PV / NVIDIA nForce 630a,
 GeForce 7025 / NVIDIA nForce 630a, GeForce 8600 GTS, GeForce 8600 GT,
 GeForce 8600M GT, GeForce 8600M GS, GeForce 8500 GT, GeForce 8400 GS,
 GeForce 8400M GT, GeForce 8400M GS, GeForce 8400M G, GeForce 8300 GS,
 Quadro FX 1600M, Quadro FX 570M, Quadro FX 360M, Quadro NVS 320M,
 Quadro NVS 140M, Quadro NVS 135M, Quadro NVS 130M.
 .
 See /usr/share/doc/nvidia-glx${nvidia:Legacy}/README.txt.gz for a complete list
 of supported GPUs and PCIIDs.

Package: nvidia-glx-legacy-173xx-ia32
Architecture: amd64
Pre-Depends: libc6-i386 (>= 2.9-18)
Depends:
 libgl1-nvidia${nvidia:Legacy}-glx-ia32 (= ${binary:Version}),
 nvidia-kernel${nvidia:Legacy}-${nvidia:Version},
 ${shlibs:Depends}, ${misc:Depends}
Recommends: nvidia-vdpau-driver-ia32 (>= ${nvidia:Version})
Suggests: nvidia-settings,
 nvidia-kernel${nvidia:Legacy}-dkms (>= ${nvidia:Version})
 | nvidia-kernel${nvidia:Legacy}-source (>= ${nvidia:Version})
Provides:
 nvidia-glx-ia32,
Conflicts:
 nvidia-glx-ia32,
 nvidia-glx-legacy-ia32,
 nvidia-glx-legacy-71xx-ia32,
 nvidia-glx-legacy-96xx-ia32,
Description: NVIDIA binary driver 32-bit libs${nvidia:LegacyDesc}
 These binary drivers provide optimized hardware acceleration of
 OpenGL applications via a direct-rendering X Server.
 AGP, PCIe, SLI, TV-out and flat panel displays are also supported.
 .
 This legacy version supports the following GPUs:
 GeForce 6800 Ultra, GeForce 6800, GeForce 6800 XE, GeForce 6800 XT,
 GeForce 6800 GT, GeForce 6800 GS, Quadro FX 4000, GeForce 7800 GTX,
 GeForce 7800 GT, GeForce 7800 GS, GeForce Go 7800, GeForce Go 7800 GTX,
 Quadro FX 4500, GeForce 6800, GeForce 6800 LE, GeForce Go 6800, 
 GeForce Go 6800 Ultra, Quadro FX Go1400, Quadro FX 3450/4000 SDI,
 Quadro FX 1400, GeForce 6600 GT, GeForce 6600, GeForce 6200,
 GeForce 6600 LE, Quadro FX 3400/4400, GeForce PCX 5750, GeForce PCX 5900,
 GeForce PCX 5300/Quadro FX 330, Quadro NVS 280 PCI-E/Quadro FX 330,
 Quadro FX 1300, GeForce PCX 4300, GeForce 6600 VE, GeForce Go 6600,
 GeForce 6610 XL, GeForce Go 6600 TE/6200 TE, GeForce 6700 XL, 
 GeForce Go 6600 GT, Quadro NVS 440, Quadro FX 550, Quadro FX 540,
 GeForce 6500, GeForce 6200 TurboCache(TM), GeForce 6200 LE, GeForce Go 6200,
 Quadro NVS 285, GeForce Go 6400, GeForce 8800 GTX, GeForce 8800 GTS,
 Quadro FX 5600, Quadro FX 4600, GeForce 7300 LE, GeForce 7300 SE,
 Quadro NVS 110M/GeForce Go 7300, GeForce Go 7400, Quadro NVS 110M,
 Quadro NVS 120M, Quadro FX 350M, Quadro FX 350, GeForce 7300 GS,
 GeForce 6150, GeForce 6150 LE, GeForce 6100, GeForce Go 6100, 
 GeForce 7900 GTX, GeForce 7900 GT/GTO, GeForce 7900 GS, GeForce 7950 GX2,
 GeForce Go 7900 GS, GeForce Go 7900 GTX, Quadro FX 2500M, Quadro FX 1500M,
 Quadro FX 5500, Quadro FX 3500, Quadro FX 1500, Quadro FX 4500 X2, 
 GeForce 7600 GS, GeForce FX 5800 Ultra, GeForce FX 5800, Quadro FX 2000,
 Quadro FX 1000, GeForce FX 5600 Ultra, GeForce FX 5600, GeForce FX 5600XT,
 GeForce FX Go5600, GeForce FX Go5650, Quadro FX Go700, GeForce FX 5200,
 GeForce FX 5200 Ultra, GeForce FX 5200, GeForce FX 5200LE, GeForce FX Go5200,
 GeForce FX Go5250, GeForce FX 5500, GeForce FX 5100,
 GeForce FX Go5200 32M/64M, Quadro NVS 55/280 PCI, Quadro FX 500/FX 600,
 GeForce FX Go53xx, GeForce FX Go5100, GeForce FX 5900 Ultra, GeForce FX 5900,
 GeForce FX 5900XT, GeForce FX 5950 Ultra, GeForce FX 5900ZT, Quadro FX 3000,
 Quadro FX 700, GeForce FX 5700 Ultra, GeForce FX 5700, GeForce FX 5700LE,
 GeForce FX 5700VE, GeForce FX Go5700, Quadro FX Go1000, Quadro FX 1100,
 GeForce 7600 GT, GeForce 7600 GS, GeForce 7300 GT, GeForce Go 7600,
 Quadro FX 560, GeForce 7050 PV / NVIDIA nForce 630a,
 GeForce 7025 / NVIDIA nForce 630a, GeForce 8600 GTS, GeForce 8600 GT,
 GeForce 8600M GT, GeForce 8600M GS, GeForce 8500 GT, GeForce 8400 GS,
 GeForce 8400M GT, GeForce 8400M GS, GeForce 8400M G, GeForce 8300 GS,
 Quadro FX 1600M, Quadro FX 570M, Quadro FX 360M, Quadro NVS 320M,
 Quadro NVS 140M, Quadro NVS 135M, Quadro NVS 130M.
 .
 See /usr/share/doc/nvidia-glx${nvidia:Legacy}/README.txt.gz for a complete list
 of supported GPUs and PCIIDs.

Package: nvidia-glx-legacy-173xx-dev
Section: non-free/oldlibs
Architecture: i386 amd64
Depends: libgl1-nvidia${nvidia:Legacy}-dev, ${misc:Depends}
Description: NVIDIA OpenGL development files (transitional package)${nvidia:LegacyDesc}
 This is a transitional dummy package to aid migration to
 libgl1-nvidia${nvidia:Legacy}-dev.
 .
 For building portable OpenGL applications, please install libgl1-mesa-dev
 instead.

Package: libgl1-nvidia-legacy-173xx-glx
Section: non-free/libs
Architecture: i386 amd64
Depends:
 ${shlibs:Depends}, ${misc:Depends}
Recommends:
 nvidia-kernel${nvidia:Legacy}-${nvidia:Version},
Suggests:
 nvidia-kernel${nvidia:Legacy}-dkms (>= ${nvidia:Version})
 | nvidia-kernel${nvidia:Legacy}-source (>= ${nvidia:Version})
Provides:
 libgl1-nvidia-glx,
Conflicts:
 libgl1-nvidia-glx,
 fglrx-glx,
 nvidia-glx${nvidia:Legacy} (<< 173.14.25-3),
Replaces: nvidia-glx${nvidia:Legacy} (<< 173.14.25-3)
Description: NVIDIA binary OpenGL libraries${nvidia:LegacyDesc}
 These binary libraries provide optimized hardware acceleration of
 OpenGL applications via a direct-rendering X Server.
 .
 This legacy version supports the following GPUs:
 GeForce 6800 Ultra, GeForce 6800, GeForce 6800 XE, GeForce 6800 XT,
 GeForce 6800 GT, GeForce 6800 GS, Quadro FX 4000, GeForce 7800 GTX,
 GeForce 7800 GT, GeForce 7800 GS, GeForce Go 7800, GeForce Go 7800 GTX,
 Quadro FX 4500, GeForce 6800, GeForce 6800 LE, GeForce Go 6800, 
 GeForce Go 6800 Ultra, Quadro FX Go1400, Quadro FX 3450/4000 SDI,
 Quadro FX 1400, GeForce 6600 GT, GeForce 6600, GeForce 6200,
 GeForce 6600 LE, Quadro FX 3400/4400, GeForce PCX 5750, GeForce PCX 5900,
 GeForce PCX 5300/Quadro FX 330, Quadro NVS 280 PCI-E/Quadro FX 330,
 Quadro FX 1300, GeForce PCX 4300, GeForce 6600 VE, GeForce Go 6600,
 GeForce 6610 XL, GeForce Go 6600 TE/6200 TE, GeForce 6700 XL, 
 GeForce Go 6600 GT, Quadro NVS 440, Quadro FX 550, Quadro FX 540,
 GeForce 6500, GeForce 6200 TurboCache(TM), GeForce 6200 LE, GeForce Go 6200,
 Quadro NVS 285, GeForce Go 6400, GeForce 8800 GTX, GeForce 8800 GTS,
 Quadro FX 5600, Quadro FX 4600, GeForce 7300 LE, GeForce 7300 SE,
 Quadro NVS 110M/GeForce Go 7300, GeForce Go 7400, Quadro NVS 110M,
 Quadro NVS 120M, Quadro FX 350M, Quadro FX 350, GeForce 7300 GS,
 GeForce 6150, GeForce 6150 LE, GeForce 6100, GeForce Go 6100, 
 GeForce 7900 GTX, GeForce 7900 GT/GTO, GeForce 7900 GS, GeForce 7950 GX2,
 GeForce Go 7900 GS, GeForce Go 7900 GTX, Quadro FX 2500M, Quadro FX 1500M,
 Quadro FX 5500, Quadro FX 3500, Quadro FX 1500, Quadro FX 4500 X2, 
 GeForce 7600 GS, GeForce FX 5800 Ultra, GeForce FX 5800, Quadro FX 2000,
 Quadro FX 1000, GeForce FX 5600 Ultra, GeForce FX 5600, GeForce FX 5600XT,
 GeForce FX Go5600, GeForce FX Go5650, Quadro FX Go700, GeForce FX 5200,
 GeForce FX 5200 Ultra, GeForce FX 5200, GeForce FX 5200LE, GeForce FX Go5200,
 GeForce FX Go5250, GeForce FX 5500, GeForce FX 5100,
 GeForce FX Go5200 32M/64M, Quadro NVS 55/280 PCI, Quadro FX 500/FX 600,
 GeForce FX Go53xx, GeForce FX Go5100, GeForce FX 5900 Ultra, GeForce FX 5900,
 GeForce FX 5900XT, GeForce FX 5950 Ultra, GeForce FX 5900ZT, Quadro FX 3000,
 Quadro FX 700, GeForce FX 5700 Ultra, GeForce FX 5700, GeForce FX 5700LE,
 GeForce FX 5700VE, GeForce FX Go5700, Quadro FX Go1000, Quadro FX 1100,
 GeForce 7600 GT, GeForce 7600 GS, GeForce 7300 GT, GeForce Go 7600,
 Quadro FX 560, GeForce 7050 PV / NVIDIA nForce 630a,
 GeForce 7025 / NVIDIA nForce 630a, GeForce 8600 GTS, GeForce 8600 GT,
 GeForce 8600M GT, GeForce 8600M GS, GeForce 8500 GT, GeForce 8400 GS,
 GeForce 8400M GT, GeForce 8400M GS, GeForce 8400M G, GeForce 8300 GS,
 Quadro FX 1600M, Quadro FX 570M, Quadro FX 360M, Quadro NVS 320M,
 Quadro NVS 140M, Quadro NVS 135M, Quadro NVS 130M.
 .
 See /usr/share/doc/libgl1-nvidia${nvidia:Legacy}-glx/README.txt.gz for a complete list
 of supported GPUs and PCIIDs.

Package: libgl1-nvidia-legacy-173xx-glx-ia32
Section: non-free/libs
Architecture: amd64
Pre-Depends: libc6-i386 (>= 2.9-18)
Depends:
 ${shlibs:Depends}, ${misc:Depends}
Recommends:
 nvidia-kernel${nvidia:Legacy}-${nvidia:Version},
Suggests:
 nvidia-kernel${nvidia:Legacy}-dkms (>= ${nvidia:Version})
 | nvidia-kernel${nvidia:Legacy}-source (>= ${nvidia:Version})
Provides:
 libgl1-nvidia-glx-ia32,
Conflicts:
 libgl1-nvidia-glx-ia32,
 fglrx-glx-ia32,
 nvidia-glx${nvidia:Legacy}-ia32 (<< 173.14.25-3),
Replaces: nvidia-glx${nvidia:Legacy}-ia32 (<< 173.14.25-3)
Description: NVIDIA binary OpenGL 32-bit libraries${nvidia:LegacyDesc}
 These binary 32-bit libraries provide optimized hardware acceleration of
 OpenGL applications via a direct-rendering X Server.
 .
 This legacy version supports the following GPUs:
 GeForce 6800 Ultra, GeForce 6800, GeForce 6800 XE, GeForce 6800 XT,
 GeForce 6800 GT, GeForce 6800 GS, Quadro FX 4000, GeForce 7800 GTX,
 GeForce 7800 GT, GeForce 7800 GS, GeForce Go 7800, GeForce Go 7800 GTX,
 Quadro FX 4500, GeForce 6800, GeForce 6800 LE, GeForce Go 6800, 
 GeForce Go 6800 Ultra, Quadro FX Go1400, Quadro FX 3450/4000 SDI,
 Quadro FX 1400, GeForce 6600 GT, GeForce 6600, GeForce 6200,
 GeForce 6600 LE, Quadro FX 3400/4400, GeForce PCX 5750, GeForce PCX 5900,
 GeForce PCX 5300/Quadro FX 330, Quadro NVS 280 PCI-E/Quadro FX 330,
 Quadro FX 1300, GeForce PCX 4300, GeForce 6600 VE, GeForce Go 6600,
 GeForce 6610 XL, GeForce Go 6600 TE/6200 TE, GeForce 6700 XL, 
 GeForce Go 6600 GT, Quadro NVS 440, Quadro FX 550, Quadro FX 540,
 GeForce 6500, GeForce 6200 TurboCache(TM), GeForce 6200 LE, GeForce Go 6200,
 Quadro NVS 285, GeForce Go 6400, GeForce 8800 GTX, GeForce 8800 GTS,
 Quadro FX 5600, Quadro FX 4600, GeForce 7300 LE, GeForce 7300 SE,
 Quadro NVS 110M/GeForce Go 7300, GeForce Go 7400, Quadro NVS 110M,
 Quadro NVS 120M, Quadro FX 350M, Quadro FX 350, GeForce 7300 GS,
 GeForce 6150, GeForce 6150 LE, GeForce 6100, GeForce Go 6100, 
 GeForce 7900 GTX, GeForce 7900 GT/GTO, GeForce 7900 GS, GeForce 7950 GX2,
 GeForce Go 7900 GS, GeForce Go 7900 GTX, Quadro FX 2500M, Quadro FX 1500M,
 Quadro FX 5500, Quadro FX 3500, Quadro FX 1500, Quadro FX 4500 X2, 
 GeForce 7600 GS, GeForce FX 5800 Ultra, GeForce FX 5800, Quadro FX 2000,
 Quadro FX 1000, GeForce FX 5600 Ultra, GeForce FX 5600, GeForce FX 5600XT,
 GeForce FX Go5600, GeForce FX Go5650, Quadro FX Go700, GeForce FX 5200,
 GeForce FX 5200 Ultra, GeForce FX 5200, GeForce FX 5200LE, GeForce FX Go5200,
 GeForce FX Go5250, GeForce FX 5500, GeForce FX 5100,
 GeForce FX Go5200 32M/64M, Quadro NVS 55/280 PCI, Quadro FX 500/FX 600,
 GeForce FX Go53xx, GeForce FX Go5100, GeForce FX 5900 Ultra, GeForce FX 5900,
 GeForce FX 5900XT, GeForce FX 5950 Ultra, GeForce FX 5900ZT, Quadro FX 3000,
 Quadro FX 700, GeForce FX 5700 Ultra, GeForce FX 5700, GeForce FX 5700LE,
 GeForce FX 5700VE, GeForce FX Go5700, Quadro FX Go1000, Quadro FX 1100,
 GeForce 7600 GT, GeForce 7600 GS, GeForce 7300 GT, GeForce Go 7600,
 Quadro FX 560, GeForce 7050 PV / NVIDIA nForce 630a,
 GeForce 7025 / NVIDIA nForce 630a, GeForce 8600 GTS, GeForce 8600 GT,
 GeForce 8600M GT, GeForce 8600M GS, GeForce 8500 GT, GeForce 8400 GS,
 GeForce 8400M GT, GeForce 8400M GS, GeForce 8400M G, GeForce 8300 GS,
 Quadro FX 1600M, Quadro FX 570M, Quadro FX 360M, Quadro NVS 320M,
 Quadro NVS 140M, Quadro NVS 135M, Quadro NVS 130M.
 .
 See /usr/share/doc/libgl1-nvidia${nvidia:Legacy}-glx/README.txt.gz for a complete list
 of supported GPUs and PCIIDs.

Package: libgl1-nvidia-legacy-173xx-dev
Section: non-free/libdevel
Architecture: i386 amd64
Depends:
 libgl1-nvidia${nvidia:Legacy}-glx (= ${binary:Version}),
 libx11-dev,
 ${misc:Depends}
Recommends: libgl1-mesa-dev | libgl-dev
Provides:
 libgl1-nvidia-dev,
Conflicts:
 libgl1-nvidia-dev,
 nvidia-glx${nvidia:Legacy}-dev (<< 173.14.25-3),
Replaces: nvidia-glx${nvidia:Legacy}-dev (<< 173.14.25-3)
Description: NVIDIA OpenGL development files${nvidia:LegacyDesc}
 This package contains the development files for the NVIDIA OpenGL
 implementation. This package is only needed for applications that use some
 extensions available in the NVIDIA driver only. Include and library search
 paths have to be adjusted to explicitly select this implementation.
 .
 For building portable OpenGL applications, please install libgl1-mesa-dev
 instead.
 .
 For more information on this source package visit NVIDIA's homepage
 at http://www.nvidia.com/ .

Package: nvidia-kernel-legacy-173xx-dkms
Section: non-free/kernel
Architecture: i386 amd64
Depends: ${misc:Depends}, dkms, nvidia-kernel-common (>= 20100522)
Recommends: nvidia-glx${nvidia:Legacy} (>= ${nvidia:Version})
Provides: nvidia-kernel${nvidia:Legacy}-${nvidia:Version}
Conflicts:
 nvidia-kernel-dkms,
 nvidia-kernel-legacy-71xx-dkms,
 nvidia-kernel-legacy-96xx-dkms,
 binutils-gold (>> 2.20.51)
Description: NVIDIA binary kernel module DKMS source${nvidia:LegacyDesc}
 This package builds the NVIDIA Xorg binary kernel module needed by
 nvidia-glx${nvidia:Legacy}, using DKMS.
 Provided that you have the kernel header packages installed, the kernel
 module will be built for your running kernel and automatically rebuilt for
 any new kernel headers that are installed.
 .
 The NVIDIA binary drivers provide optimized hardware acceleration of
 OpenGL applications via a direct-rendering X Server for graphics cards
 using NVIDIA chip sets.  AGP, PCIe, SLI, TV-out and flat panel displays
 are also supported.
 .
 This legacy version supports the following GPUs:
 GeForce 6800 Ultra, GeForce 6800, GeForce 6800 XE, GeForce 6800 XT,
 GeForce 6800 GT, GeForce 6800 GS, Quadro FX 4000, GeForce 7800 GTX,
 GeForce 7800 GT, GeForce 7800 GS, GeForce Go 7800, GeForce Go 7800 GTX,
 Quadro FX 4500, GeForce 6800, GeForce 6800 LE, GeForce Go 6800, 
 GeForce Go 6800 Ultra, Quadro FX Go1400, Quadro FX 3450/4000 SDI,
 Quadro FX 1400, GeForce 6600 GT, GeForce 6600, GeForce 6200,
 GeForce 6600 LE, Quadro FX 3400/4400, GeForce PCX 5750, GeForce PCX 5900,
 GeForce PCX 5300/Quadro FX 330, Quadro NVS 280 PCI-E/Quadro FX 330,
 Quadro FX 1300, GeForce PCX 4300, GeForce 6600 VE, GeForce Go 6600,
 GeForce 6610 XL, GeForce Go 6600 TE/6200 TE, GeForce 6700 XL, 
 GeForce Go 6600 GT, Quadro NVS 440, Quadro FX 550, Quadro FX 540,
 GeForce 6500, GeForce 6200 TurboCache(TM), GeForce 6200 LE, GeForce Go 6200,
 Quadro NVS 285, GeForce Go 6400, GeForce 8800 GTX, GeForce 8800 GTS,
 Quadro FX 5600, Quadro FX 4600, GeForce 7300 LE, GeForce 7300 SE,
 Quadro NVS 110M/GeForce Go 7300, GeForce Go 7400, Quadro NVS 110M,
 Quadro NVS 120M, Quadro FX 350M, Quadro FX 350, GeForce 7300 GS,
 GeForce 6150, GeForce 6150 LE, GeForce 6100, GeForce Go 6100, 
 GeForce 7900 GTX, GeForce 7900 GT/GTO, GeForce 7900 GS, GeForce 7950 GX2,
 GeForce Go 7900 GS, GeForce Go 7900 GTX, Quadro FX 2500M, Quadro FX 1500M,
 Quadro FX 5500, Quadro FX 3500, Quadro FX 1500, Quadro FX 4500 X2, 
 GeForce 7600 GS, GeForce FX 5800 Ultra, GeForce FX 5800, Quadro FX 2000,
 Quadro FX 1000, GeForce FX 5600 Ultra, GeForce FX 5600, GeForce FX 5600XT,
 GeForce FX Go5600, GeForce FX Go5650, Quadro FX Go700, GeForce FX 5200,
 GeForce FX 5200 Ultra, GeForce FX 5200, GeForce FX 5200LE, GeForce FX Go5200,
 GeForce FX Go5250, GeForce FX 5500, GeForce FX 5100,
 GeForce FX Go5200 32M/64M, Quadro NVS 55/280 PCI, Quadro FX 500/FX 600,
 GeForce FX Go53xx, GeForce FX Go5100, GeForce FX 5900 Ultra, GeForce FX 5900,
 GeForce FX 5900XT, GeForce FX 5950 Ultra, GeForce FX 5900ZT, Quadro FX 3000,
 Quadro FX 700, GeForce FX 5700 Ultra, GeForce FX 5700, GeForce FX 5700LE,
 GeForce FX 5700VE, GeForce FX Go5700, Quadro FX Go1000, Quadro FX 1100,
 GeForce 7600 GT, GeForce 7600 GS, GeForce 7300 GT, GeForce Go 7600,
 Quadro FX 560, GeForce 7050 PV / NVIDIA nForce 630a,
 GeForce 7025 / NVIDIA nForce 630a, GeForce 8600 GTS, GeForce 8600 GT,
 GeForce 8600M GT, GeForce 8600M GS, GeForce 8500 GT, GeForce 8400 GS,
 GeForce 8400M GT, GeForce 8400M GS, GeForce 8400M G, GeForce 8300 GS,
 Quadro FX 1600M, Quadro FX 570M, Quadro FX 360M, Quadro NVS 320M,
 Quadro NVS 140M, Quadro NVS 135M, Quadro NVS 130M.

Package: nvidia-kernel-legacy-173xx-source
Section: non-free/kernel
Architecture: i386 amd64
Depends: ${misc:Depends}, debhelper (>= 7.2.3~), make, quilt (>= 0.46-7~)
Recommends: module-assistant | kernel-package,
 nvidia-glx${nvidia:Legacy} (>= ${nvidia:Version}), nvidia-kernel-common
Conflicts: binutils-gold (>> 2.20.51)
Description: NVIDIA binary kernel module source${nvidia:LegacyDesc}
 This package provides the source for the NVIDIA Xorg binary kernel module
 needed by nvidia-glx${nvidia:Legacy} in a form suitable
 for use by module-assistant or kernel-package.
 .
 The NVIDIA binary drivers provide optimized hardware acceleration of
 OpenGL applications via a direct-rendering X Server for graphics cards
 using NVIDIA chip sets.  AGP, PCIe, SLI, TV-out and flat panel displays
 are also supported.
 .
 This legacy version supports the following GPUs:
 GeForce 6800 Ultra, GeForce 6800, GeForce 6800 XE, GeForce 6800 XT,
 GeForce 6800 GT, GeForce 6800 GS, Quadro FX 4000, GeForce 7800 GTX,
 GeForce 7800 GT, GeForce 7800 GS, GeForce Go 7800, GeForce Go 7800 GTX,
 Quadro FX 4500, GeForce 6800, GeForce 6800 LE, GeForce Go 6800, 
 GeForce Go 6800 Ultra, Quadro FX Go1400, Quadro FX 3450/4000 SDI,
 Quadro FX 1400, GeForce 6600 GT, GeForce 6600, GeForce 6200,
 GeForce 6600 LE, Quadro FX 3400/4400, GeForce PCX 5750, GeForce PCX 5900,
 GeForce PCX 5300/Quadro FX 330, Quadro NVS 280 PCI-E/Quadro FX 330,
 Quadro FX 1300, GeForce PCX 4300, GeForce 6600 VE, GeForce Go 6600,
 GeForce 6610 XL, GeForce Go 6600 TE/6200 TE, GeForce 6700 XL, 
 GeForce Go 6600 GT, Quadro NVS 440, Quadro FX 550, Quadro FX 540,
 GeForce 6500, GeForce 6200 TurboCache(TM), GeForce 6200 LE, GeForce Go 6200,
 Quadro NVS 285, GeForce Go 6400, GeForce 8800 GTX, GeForce 8800 GTS,
 Quadro FX 5600, Quadro FX 4600, GeForce 7300 LE, GeForce 7300 SE,
 Quadro NVS 110M/GeForce Go 7300, GeForce Go 7400, Quadro NVS 110M,
 Quadro NVS 120M, Quadro FX 350M, Quadro FX 350, GeForce 7300 GS,
 GeForce 6150, GeForce 6150 LE, GeForce 6100, GeForce Go 6100, 
 GeForce 7900 GTX, GeForce 7900 GT/GTO, GeForce 7900 GS, GeForce 7950 GX2,
 GeForce Go 7900 GS, GeForce Go 7900 GTX, Quadro FX 2500M, Quadro FX 1500M,
 Quadro FX 5500, Quadro FX 3500, Quadro FX 1500, Quadro FX 4500 X2, 
 GeForce 7600 GS, GeForce FX 5800 Ultra, GeForce FX 5800, Quadro FX 2000,
 Quadro FX 1000, GeForce FX 5600 Ultra, GeForce FX 5600, GeForce FX 5600XT,
 GeForce FX Go5600, GeForce FX Go5650, Quadro FX Go700, GeForce FX 5200,
 GeForce FX 5200 Ultra, GeForce FX 5200, GeForce FX 5200LE, GeForce FX Go5200,
 GeForce FX Go5250, GeForce FX 5500, GeForce FX 5100,
 GeForce FX Go5200 32M/64M, Quadro NVS 55/280 PCI, Quadro FX 500/FX 600,
 GeForce FX Go53xx, GeForce FX Go5100, GeForce FX 5900 Ultra, GeForce FX 5900,
 GeForce FX 5900XT, GeForce FX 5950 Ultra, GeForce FX 5900ZT, Quadro FX 3000,
 Quadro FX 700, GeForce FX 5700 Ultra, GeForce FX 5700, GeForce FX 5700LE,
 GeForce FX 5700VE, GeForce FX Go5700, Quadro FX Go1000, Quadro FX 1100,
 GeForce 7600 GT, GeForce 7600 GS, GeForce 7300 GT, GeForce Go 7600,
 Quadro FX 560, GeForce 7050 PV / NVIDIA nForce 630a,
 GeForce 7025 / NVIDIA nForce 630a, GeForce 8600 GTS, GeForce 8600 GT,
 GeForce 8600M GT, GeForce 8600M GS, GeForce 8500 GT, GeForce 8400 GS,
 GeForce 8400M GT, GeForce 8400M GS, GeForce 8400M G, GeForce 8300 GS,
 Quadro FX 1600M, Quadro FX 570M, Quadro FX 360M, Quadro NVS 320M,
 Quadro NVS 140M, Quadro NVS 135M, Quadro NVS 130M.
 .
 PLEASE read /usr/share/doc/nvidia-kernel${nvidia:Legacy}-source/README.Debian.gz
 for building information.  If you want the kernel module to be automatically
 installed via DKMS, install nvidia-kernel${nvidia:Legacy}-dkms instead.

